<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>
      Plan has been activated on your device!<br><br>
      Plan Name : <%= @name %>
    </p>
    <p>
      Price : <%= @price %>
    </p>
    <p>
      Validity : <%= @validity_days %> days
    </p>
    <p>
      Data (in MB): <%= @data %>
    </p>
  </body>
</html>